.content {
    // border: var(--border-dark);
    // height: 100vh;
    grid-area: content;
    // padding: var(--space-s);
    padding: var(--space-l);
    background-color: var(--color-secondary-bg);
    height: 100%;
}