footer {
    // border: var(--border-dark);
    grid-area: footer;
    // margin: var(--space-s);
    padding: var(--space-xl);
    // border-radius: var(--border-radius);
    background-color: var(--color-secondary-bg);
}